*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Index CSS is being used for MOVIE LIST */

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

#root {
  max-width: 1600px !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Typography */


body {
  font-family: 'DM Sans', sans-serif;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.2;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.heading {
  font-size: 3.5rem;
  text-align: center;
}


.card-info {
  padding-top: 1rem;
}

.card img {
  display: inline-flex;
  aspect-ratio: 2/3;
  width: 100%;
  border-radius: 1rem;
  margin: 0 auto;
  object-fit: cover;
}

.swiper_container {
  height: 50rem;
  padding: 2rem;
  position: relative;
}

.swiper-slide {
  width: 28rem !important;
  height: 42rem !important;
  position: relative;
  margin: 0 1rem;
}

.swiper-slide img {
  width: 28rem;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
  top: -1.3rem !important;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 46rem;
  }
  .swiper-slide {
    width: 25rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 25rem !important;
    height: 36rem !important;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controller {
  position: relative;
  bottom: 2rem;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controller .swiper-button-next {
  left: calc(92% - 3.5rem);
  transform: translateX(0%) !important;
}

.slider-controller .swiper-button-prev {
  left: 1.9rem;
  transform: translateX(0%) !important;
}

@media (min-width: 400px) {
  .slider-controller .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (min-width: 400px) {
  .slider-controller .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

@media (min-width: 660px) {
  .slider-controller .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (min-width: 660px) {
  .slider-controller .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

.slider-controller .slider-arrow {
  z-index: 1000;
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 50px rgba(18, 28, 53, 0.1));
}

.slider-controller .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controller .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 100% !important;
  bottom: 1rem;

}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
